.scroll-top {
  position: relative;
}

.btn-scroll-style {
  background-color: var(--darkGrey);
  border: 2px solid white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  box-shadow: 0 2px 5px rgba(226, 217, 217, 0.3);
  transition: all 0.5s ease-in-out;
  visibility: hidden;
}

.btn-scroll-style::before {
  content: "\25B2";
  font-size: 32px;
  color: white;
}

.btn-scroll-position {
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
}

@keyframes movebtn {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media (min-width: 992px) {
  .btn-scroll-style {
    height: 55px;
    width: 55px;
    line-height: 50px;
  }
}
